* {
 	box-sizing: border-box;
 	outline: none;
 	scrollbar-width: thin
 }

 html {
 	height: 100%
 }

 body {
 	max-width: 100%;
 	overflow: hidden;
 	margin: 0;
 	font-family: microsoft yahei light, microsoft yahei, PingFangSC-Thin, Helvetica, sans-serif, 等线;
 	background-color: #333;
 	background-repeat: no-repeat;
 	background-size: cover;
 	background-position: center;
 	cursor: default;
 	-webkit-tap-highlight-color: transparent;
 	-webkit-user-select: none;
 	user-select: none
 }

 :root {
 	--theme-color: #70C000;
 	--w-alpha-10: rgba(255, 255, 255, .1);
 	--w-alpha-20: rgba(255, 255, 255, .2);
 	--w-alpha-30: rgba(255, 255, 255, .3);
 	--w-alpha-50: rgba(255, 255, 255, .5);
 	--w-alpha-60: rgba(255, 255, 255, .6);
 	--w-alpha-70: rgba(255, 255, 255, .7);
 	--w-alpha-80: rgba(255, 255, 255, .8);
 	--w-alpha-90: rgba(255, 255, 255, .9);
 	--bg-w-pure: white;
 	--txt-b-pure: black;
 	--txt-b-tip: rgba(0, 0, 0, .8);
 	--b-alpha-5: rgba(0, 0, 0, .05);
 	--b-alpha-10: rgba(0, 0, 0, .1);
 	--b-alpha-15: rgba(0, 0, 0, .15);
 	--b-alpha-20: rgba(0, 0, 0, .2);
 	--b-alpha-30: rgba(0, 0, 0, .3);
 	--b-alpha-35: rgba(0, 0, 0, .35);
 	--b-alpha-40: rgba(0, 0, 0, .4);
 	--b-alpha-50: rgba(0, 0, 0, .5);
 	--b-alpha-60: rgba(0, 0, 0, .6);
 	--b-alpha-70: rgba(0, 0, 0, .7);
 	--b-alpha-80: rgba(0, 0, 0, .8);
 	--b-alpha-90: rgba(0, 0, 0, .9)
 }

 ::selection {
 	background-color: rgba(112, 192, 0, .35)
 }

 #bodyBox {
 	z-index: -2;
 	position: absolute;
 	top: 0;
 	left: 0;
 	width: 100%;
 	height: 100%;
 	transition: all .25s
 }

 @keyframes delayedFadeIn {
 	0% {
 		opacity: 0
 	}

 	50% {
 		opacity: 0
 	}

 	100% {
 		opacity: 1
 	}
 }

 @keyframes fadeIn {
 	0% {
 		opacity: 0
 	}

 	100% {
 		opacity: 1
 	}
 }

 .rebound {
 	animation: rebound .7s linear !important
 }

 @keyframes rebound {
 	0% {
 		transform: scale(.8)
 	}

 	20% {
 		transform: scale(1.2)
 	}

 	40% {
 		transform: scale(.9)
 	}

 	60% {
 		transform: scale(1)
 	}
 }

 .showPop {
 	animation: showPop .35s linear
 }

 @keyframes showPop {
 	0% {
 		transform: rotate3d(1, 1, 0, 90deg)
 	}

 	50% {
 		transform: rotate3d(1, 1, 0, -10deg)
 	}

 	100% {
 		transform: rotate3d(0, 0, 0, 0deg)
 	}
 }

 @font-face {
 	font-family: iconfont;
 	src: url(https://at.alicdn.com/t/font_1010028_z4ill92h8uo.eot);
 	src: url(https://at.alicdn.com/t/font_1010028_z4ill92h8uo.eot?#iefix) format('embedded-opentype'), url(https://at.alicdn.com/t/font_1010028_z4ill92h8uo.woff2) format('woff2'), url(https://at.alicdn.com/t/font_1010028_z4ill92h8uo.woff) format('woff'), url(https://at.alicdn.com/t/font_1010028_z4ill92h8uo.ttf) format('truetype'), url(https://at.alicdn.com/t/font_1010028_z4ill92h8uo.svg#iconfont) format('svg')
 }

 .iconfont {
 	font-family: iconfont !important;
 	font-size: 22px;
 	font-style: normal;
 	-webkit-font-smoothing: antialiased;
 	-webkit-text-stroke-width: 0;
 	-moz-osx-font-smoothing: grayscale
 }

 .bgbox {
 	display: none;
 	opacity: 0;
 	z-index: -3;
 	position: fixed;
 	left: 0;
 	top: 0;
 	width: 100%;
 	height: 100%;
 	object-fit: cover;
 	transition: opacity 1s, transform .25s, filter .25s
 }

 #liveBgBox {
 	display: none;
 	opacity: 0;
 	z-index: -2;
 	position: absolute;
 	width: 100%;
 	height: 100%;
 	object-fit: cover;
 	transition: opacity 1s, transform .25s, filter .25s
 }

 .title {
 	position: absolute;
 	width: 100px;
 	left: 50%;
 	margin-left: -47.5px;
 	top: 100px;
 	text-align: center;
 	transition: all .25s
 }

 h1 {
 	color: #fff;
 	font-size: 36px;
 	font-weight: inherit;
 	text-shadow: 0 0 20px rgba(0, 0, 0, .35);
 	cursor: pointer;
 	transition: all .25s;
 	animation-name: delayedFadeIn;
 	animation-duration: .5s;
 	animation-iteration-count: 1;
 	animation-delay: 0s
 }

 h1::after {
 	content: '';
 	display: block;
 	width: 100%;
 	height: 2px;
 	position: absolute;
 	bottom: 20px;
 	background: var(--theme-color);
 	transition: all .25s;
 	transform: scale3d(0, 1, 1);
 	transform-origin: 50% 0
 }

 h1:hover::after {
 	transform: scale3d(1, 1, 1)
 }

 h1:active::after {
 	opacity: .6
 }

 h1:active {
 	color: rgba(255, 255, 255, .6)
 }

 .cover {
 	z-index: -1;
 	opacity: 0;
 	position: fixed;
 	left: 0;
 	top: 0;
 	width: 100%;
 	height: 100%;
 	background-image: radial-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%), radial-gradient(rgba(0, 0, 0, 0) 33%, rgba(0, 0, 0, 0.3) 166%);
 	transition: all .25s
 }

 .btn_search {
 	display: none
 }

 .input {
 	position: absolute;
 	top: 200px;
 	left: calc(50% - 115px);
 	width: 230px;
 	outline: none;
 	border: none;
 	padding: 13px 15px;
 	border-radius: 30px;
 	color: rgba(255, 255, 255, .8);
 	font-size: small;
 	font-weight: 400;
 	font-family: microsoft yahei, sans-serif;
 	text-align: center;
 	background-color: rgba(255, 255, 255, .25);
 	box-shadow: rgba(0, 0, 0, .2) 0 0 10px;
 	-webkit-backdrop-filter: blur(10px);
 	backdrop-filter: blur(10px);
 	transition: color .25s, background-color .25s, box-shadow .25s, left .25s, opacity .25s, top .25s, width .25s
 }

 .input:hover {
 	color: var(--txt-b-pure);
 	background-color: rgba(255, 255, 255, .6);
 	box-shadow: rgba(0, 0, 0, .3) 0 0 10px;
 	left: calc(50% - 265px);
 	width: 530px
 }

 .input.focus {
 	color: #000;
 	background-color: rgba(255, 255, 255, .9);
 	box-shadow: rgba(0, 0, 0, .2) 0 0 10px;
 	left: calc(50% - 265px);
 	width: 530px
 }

 .input::placeholder,
 textarea::placeholder {
 	color: #fff;
 	text-shadow: 0 0 10px rgba(0, 0, 0, .3);
 	transition: all .25s
 }

 .input:hover::placeholder {
 	color: #646464;
 	text-shadow: 0 0 10px transparent
 }

 .input.focus::placeholder {
 	color: transparent;
 	text-shadow: none
 }

 #searchOptBox {
 	display: none;
 	opacity: 0;
 	position: absolute;
 	top: 220px;
 	left: 50%;
 	margin-left: -130px;
 	width: 260px;
 	text-align: center;
 	transition: all .25s
 }

 .searchOpt {
 	position: relative;
 	padding: 5px 30px;
 	margin-left: 5px;
 	margin-right: 5px;
 	background-color: var(--w-alpha-10);
 	border-radius: 20px;
 	transition: all .25s;
 	cursor: pointer
 }

 .searchOpt:hover {
 	background-color: var(--w-alpha-20)
 }

 .searchOpt:active {
 	background-color: var(--theme-color)
 }

 .searchOpt.selected {
 	background-color: var(--w-alpha-30);
 	cursor: default
 }

 #iconBaidu,
 #iconBing,
 #iconGoogle {
 	color: rgba(255, 255, 255, .8);
 	font-size: 14px
 }

 #iconBing {
 	font-size: 15px
 }

 .keyword {
 	width: 530px;
 	height: auto;
 	padding-bottom: -3px;
 	border-top: none;
 	position: absolute;
 	top: 310px;
 	left: 50%;
 	margin-left: -265px;
 	z-index: 40;
 	font-size: small;
 	display: none;
 	overflow-y: hidden;
 	border-radius: 15px;
 	transition: all .25s;
 	-webkit-backdrop-filter: blur(30px);
 	backdrop-filter: blur(30px)
 }

 .keyword div {
 	clear: both;
 	width: 530px;
 	height: 30px;
 	text-indent: 20px;
 	line-height: 30px;
 	cursor: pointer;
 	background: var(--w-alpha-10);
 	color: rgba(255, 255, 255, .8);
 	border-bottom: solid 1px transparent;
 	transition: all .25s
 }

 .keyword div:hover,
 .keyword div.focus {
 	background: var(--w-alpha-20)
 }

 .keyword div:active {
 	background-color: var(--theme-color);
 	color: rgba(255, 255, 255, .8)
 }

 .navbox {
 	animation: fadeIn .25s linear;
 	position: fixed;
 	top: 0;
 	left: 0;
 	width: 100%;
 	height: 100%;
 	background-color: transparent;
 	display: none;
 	transition: all .25s
 }

 .navbox0 {
 	position: absolute;
 	margin-top: 200px;
 	left: calc(50% - 330px);
 	width: 660px;
 	height: 250px;
 	overflow: hidden
 }

 .navboxes {
 	position: absolute;
 	width: 100%;
 	overflow: hidden;
 	transition: all .25s
 }

 #navboxCus {
 	left: -100%;
 	height: 200px
 }

 #navbox1 {
 	left: 0;
 	height: 200px
 }

 #navbox2 {
 	left: 100%;
 	color: #fff;
 	height: 250px
 }

 .navboxSwitch,
 .navboxTmp {
 	position: absolute;
 	left: 50%;
 	width: 650px;
 	margin-left: -325px;
 	text-align: center
 }

 .navboxSwitch {
 	z-index: 50;
 	top: 450px
 }

 .navboxTmp {
 	bottom: 200px
 }

 #navboxCustom {
 	position: absolute;
 	left: 50%;
 	margin-left: -425px;
 	bottom: 150px;
 	width: 850px;
 	text-align: center
 }

 .customNav {
 	position: relative;
 	display: inline-block;
 	width: 100px;
 	height: 70px;
 	margin-left: 3px;
 	margin-right: 3px;
 	background-color: var(--w-alpha-10);
 	border-radius: 5px;
 	text-align: center;
 	cursor: pointer;
 	transition: all .35s
 }

 .customNav:hover {
 	background-color: var(--w-alpha-50)
 }

 .customNav:hover>.iconAddNav {
 	color: var(--b-alpha-50)
 }

 .customNav:active {
 	background-color: var(--w-alpha-90)
 }

 .customNav.added {
 	background-color: var(--w-alpha-50)
 }

 .customNav.added:hover {
 	background-color: var(--w-alpha-70)
 }

 .customNav.added:hover>.cusNavTitle {
 	color: var(--txt-b-pure)
 }

 .customNav.added:active {
 	background-color: var(--w-alpha-90)
 }

 .customNav.added>.iconAddNav {
 	opacity: 0
 }

 .iconAddNav {
 	position: absolute;
 	color: rgba(255, 255, 255, .3);
 	top: 50%;
 	left: 50%;
 	margin-left: -11px;
 	margin-top: -12px;
 	transition: all .35s
 }

 .cusNavIcon {
 	position: absolute;
 	top: 15px;
 	left: 50%;
 	width: 24px;
 	height: 24px;
 	margin-left: -12px;
 	border: none;
 	border-radius: 3px;
 	background-position: center;
 	background-size: contain;
 	background-repeat: no-repeat;
 	transition: all .25s
 }

 .cusNavIcon.round {
 	border-radius: 20px
 }

 .cusNavTitle {
 	color: var(--b-alpha-80);
 	font-size: 10px;
 	left: 0;
 	overflow: hidden;
 	padding: 0 10px;
 	position: absolute;
 	text-align: center;
 	text-overflow: ellipsis;
 	top: 45px;
 	transition: all .25s;
 	white-space: nowrap;
 	width: 100%
 }

 #frmSetCustomNav {
 	z-index: 51;
 	display: none;
 	opacity: 0;
 	transform: scale(.5);
 	position: absolute;
 	top: 50%;
 	left: 20%;
 	width: 300px;
 	height: 156px;
 	background-color: var(--bg-w-pure);
 	border-radius: 10px;
 	box-shadow: rgba(0, 0, 0, .1) 0 10px 15px;
 	transition: all .25s;
 	transform-origin: 50% 100%
 }

 .popCaptionS {
 	position: relative;
 	left: 10%;
 	top: 15px;
 	color: var(--txt-b-pure);
 	font-size: small;
 	font-family: pingfang sc
 }

 #btnCloseFrmCusNav {
 	opacity: 1;
 	top: 20px;
 	right: 20px
 }

 #btnCloseFrmCusNav:hover::before,
 #btnCloseFrmCusNav:hover::after {
 	background-color: #61a600
 }

 #btnCloseFrmCusNav:active::before,
 #btnCloseFrmCusNav:active::after {
 	background-color: #528c00
 }

 .inputCustom,
 .inputLogin {
 	position: relative;
 	margin-top: 10px;
 	padding: 0 15px;
 	left: 10%;
 	width: 80%;
 	height: 25px;
 	border: none;
 	outline: none;
 	border-radius: 20px;
 	color: var(--txt-b-pure);
 	background-color: var(--b-alpha-5);
 	transition: all .25s
 }

 #inputCustomUrl {
 	margin-top: 25px
 }

 .inputCustom:hover,
 .inputLogin:hover {
 	background-color: var(--b-alpha-10)
 }

 .inputCustom:focus,
 .inputLogin:focus {
 	background-color: var(--b-alpha-15)
 }

 .inputCustom::placeholder,
 .inputLogin::placeholder {
 	color: var(--b-alpha-50);
 	transition: all .25s
 }

 .inputCustom:focus::placeholder,
 .inputLogin:focus::placeholder {
 	color: transparent
 }

 .btnCustom {
 	position: absolute;
 	margin-top: 10px;
 	right: 10%;
 	padding: 5px 20px;
 	font-size: 11px;
 	border-radius: 20px;
 	color: #fff;
 	font-weight: 700;
 	font-family: pingfang sc;
 	background-color: var(--theme-color);
 	transition: all .25s;
 	cursor: pointer
 }

 .btnCustom:hover,
 #btnLogin:hover,
 #btnCompleteReg:hover,
 .btnRectangle:hover {
 	background-color: #61a600
 }

 .btnCustom:active,
 #btnLogin:active,
 #btnCompleteReg:active,
 .btnRectangle:active {
 	background-color: #528c00
 }

 #noteListWrap {
 	position: absolute;
 	left: -200px;
 	width: 190px;
 	height: 200px;
 	overflow: hidden;
 	border-radius: 15px;
 	transition: all .25s;
 	-webkit-backdrop-filter: blur(30px);
 	backdrop-filter: blur(30px)
 }

 #noteList {
 	position: absolute;
 	width: 222px;
 	height: 200px;
 	background-color: transparent;
 	overflow-x: hidden
 }

 .noteItem {
 	position: relative;
 	display: block;
 	left: 0;
 	width: 190px;
 	padding: 10px;
 	padding-left: 20px;
 	font-size: small;
 	border-bottom: solid 1px rgba(255, 255, 255, .1);
 	transition: all .25s;
 	animation-name: fadeIn;
 	animation-duration: .5s;
 	animation-iteration-count: 1;
 	animation-delay: 0s
 }

 .noteItem.current {
 	border-left: solid 5px var(--theme-color)
 }

 .noteItem:hover {
 	background-color: rgba(255, 255, 255, .1)
 }

 .noteItem:active {
 	background-color: rgba(255, 255, 255, .2)
 }

 .noteTitle {
 	display: inline-block;
 	width: 150px;
 	height: 17.6px;
 	overflow: hidden;
 	margin-bottom: -3.6px
 }

 #noteTitle0 {
 	position: absolute;
 	top: 10px;
 	margin-left: 5px
 }

 .noteTime {
 	font-size: 10px;
 	color: rgba(255, 255, 255, .3)
 }

 #iconAdd {
 	font-size: small
 }

 #textNote {
 	position: absolute;
 	left: 0;
 	width: 660px;
 	height: 200px;
 	padding: 10px;
 	padding-left: 20px;
 	color: var(--txt-b-pure);
 	font-family: microsoft yahei light, microsoft yahei, Helvetica, sans-serif, 等线;
 	font-size: small;
 	background-color: var(--w-alpha-60);
 	border: none;
 	outline: none;
 	resize: none;
 	border-radius: 15px;
 	transition: all .25s;
 	scrollbar-color: var(--b-alpha-15) #fff;
 	-webkit-backdrop-filter: blur(30px);
 	backdrop-filter: blur(30px)
 }

 ::-webkit-scrollbar {
 	width: 5px
 }

 #textNote::-webkit-scrollbar-thumb {
 	background-color: var(--b-alpha-15);
 	border-radius: 3px
 }

 #textNote::-webkit-scrollbar-thumb:hover {
 	background-color: var(--b-alpha-30)
 }

 textarea::-webkit-input-placeholder {
 	color: var(--b-alpha-50)
 }

 textarea::-moz-placeholder {
 	color: var(--b-alpha-60)
 }

 textarea:hover::-webkit-input-placeholder {
 	color: var(--b-alpha-70)
 }

 textarea:hover:-moz-placeholder {
 	color: var(--b-alpha-80)
 }

 textarea:hover::-moz-placeholder {
 	color: var(--b-alpha-80)
 }

 textarea:hover::-ms-input-placeholder {
 	color: var(--b-alpha-70)
 }

 #noteToolBar {
 	position: absolute;
 	display: none;
 	left: 210px;
 	top: 210px;
 	width: 440px
 }

 .toolBarBtns,
 .toolBarTip {
 	display: inline-block;
 	position: relative;
 	margin-left: 5px;
 	color: rgba(255, 255, 255, .35);
 	cursor: pointer;
 	transition: all .25s
 }

 .toolBarBtns:hover {
 	color: rgba(255, 255, 255, .6)
 }

 .toolBarBtns:active {
 	color: rgba(255, 255, 255, .8)
 }

 #btnPinNote {
 	transform: rotate(35deg)
 }

 #btnSaveNote {
 	margin-left: 8px
 }

 #tipNoteCloud {
 	position: absolute;
 	right: 0;
 	font-size: 12px;
 	cursor: default;
 	text-align: right
 }

 #iconNoteCloud {
 	font-size: 12px
 }

 #txtNoteCloudStatus {
 	margin-right: 5px
 }

 .nbSwitch {
 	position: absolute;
 	width: 24px;
 	height: 20px;
 	left: 50%;
 	cursor: pointer
 }

 .nbSwitch .current {
 	background-color: rgba(255, 255, 255, .5)
 }

 .nbSwitch span {
 	position: absolute;
 	width: 20px;
 	height: 4px;
 	top: 8px;
 	left: 2px;
 	background-color: rgba(0, 0, 0, .3);
 	transition: all .25s;
 	border-radius: 3px
 }

 .nbSwitch:hover span {
 	background-color: rgba(255, 255, 255, .3)
 }

 .nbSwitch:active span {
 	background-color: var(--theme-color)
 }

 #nbSwitch0 {
 	margin-left: -25px
 }

 #nbSwitch1 {
 	margin-left: -25px
 }

 #nbSwitch2 {
 	margin-left: 1px
 }

 td {
 	word-break: keep-all
 }

 .nav_links {
 	text-align: center;
 	text-decoration: none;
 	color: #fff;
 	font-size: small;
 	background-color: transparent;
 	padding: 8px 30px;
 	margin: 14.6px;
 	margin-top: 0;
 	margin-bottom: 5px;
 	float: left;
 	cursor: pointer;
 	transition: all .25s;
 	border-radius: 20px
 }

 #newNavLink {
 	opacity: 1
 }

 a.nav_links:link,
 a.nav_links:visted {
 	color: #fff;
 	background-color: transparent
 }

 a.nav_links:hover {
 	color: var(--theme-color);
 	background-color: var(--w-alpha-10)
 }

 a.nav_links:active {
 	color: var(--theme-color);
 	background-color: var(--w-alpha-20)
 }

 #nav_function {
 	float: none
 }

 .quotebox {
 	position: absolute;
 	top: 100%;
 	margin-top: -200px;
 	width: 100%;
 	font-size: small;
 	text-align: center;
 	cursor: default;
 	transition: all .5s;
 	animation-name: delayedFadeIn;
 	animation-duration: 3s;
 	animation-iteration-count: 1;
 	animation-delay: 0s
 }

 .quote-bg {
 	z-index: -1;
 	opacity: 0;
 	position: absolute;
 	left: 0;
 	width: 100%;
 	height: 100%;
 	-webkit-backdrop-filter: blur(30px);
 	backdrop-filter: blur(30px);
 	background-image: linear-gradient(130deg, var(--w-alpha-90), var(--w-alpha-90), rgba(255, 255, 255, 0));
 	transition: all .5s
 }

 .quote-content {
 	color: rgba(255, 255, 255, .9);
 	text-shadow: 0 0 20px rgba(0, 0, 0, .8);
 	transition: all .25s
 }

 .quote-author {
 	opacity: 0;
 	color: var(--b-alpha-90);
 	transition: all .25s
 }

 .quotebox:hover {
 	color: var(--b-alpha-90)
 }

 .quotebox:hover .quote-bg {
 	opacity: 1
 }

 .quotebox:hover .quote-content {
 	color: var(--b-alpha-90);
 	text-shadow: 0 0 20px transparent
 }

 .quotebox:hover .quote-author {
 	opacity: 1
 }

 .links {
 	text-decoration: none;
 	color: rgba(255, 255, 255, .6);
 	cursor: pointer;
 	transition: all .25s
 }

 a.links:link,
 a.links:visted {
 	color: rgba(255, 255, 255, .6)
 }

 a.links:hover {
 	color: #fff
 }

 a.links:active {
 	color: rgba(255, 255, 255, .6)
 }

 .footer {
 	position: absolute;
 	top: 100%;
 	margin-top: -30px;
 	width: 100%;
 	font-size: 12px;
 	color: rgba(255, 255, 255, .6);
 	text-align: center;
 	text-shadow: 0 0 20px rgba(0, 0, 0, .8)
 }

 .cover1 {
 	z-index: 99;
 	position: absolute;
 	top: 0;
 	left: 0;
 	width: 100%;
 	height: 100%;
 	background-color: rgba(0, 0, 0, .35);
 	display: none;
 	opacity: 0;
 	-webkit-backdrop-filter: blur(10px);
 	backdrop-filter: blur(10px);
 	transition: all .25s;
 	perspective: 1000px
 }

 .popUp {
 	position: absolute;
 	z-index: 100;
 	width: 600px;
 	height: 500px;
 	top: 50%;
 	margin-top: -250px;
 	left: 50%;
 	margin-left: -300px;
 	background-color: var(--bg-w-pure);
 	font-size: small;
 	border-radius: 20px;
 	overflow: hidden;
 	box-shadow: rgba(0, 0, 0, .05) 0 10px 20px;
 	transform: rotate3d(1, 1, 0, 90deg);
 	transition: all .25s
 }

 #popBg,
 #popAbout,
 #popWelcome,
 #popCompleteReg,
 #popLogin,
 #popAccount,
 #popDonate,
 #popGeneralSettings,
 #popFeedback {
 	display: none;
 	opacity: 0
 }

 .btnClose {
 	z-index: 99;
 	position: absolute;
 	width: 20px;
 	height: 20px;
 	top: 40px;
 	right: 40px;
 	cursor: pointer
 }

 .btnClose::before,
 .btnClose::after {
 	content: '';
 	position: absolute;
 	height: 2px;
 	width: 100%;
 	top: 50%;
 	left: 0;
 	margin-top: -1px;
 	background-color: #b4b4b4;
 	transition: all .25s
 }

 .btnClose::before {
 	transform: rotate(45deg)
 }

 .btnClose::after {
 	transform: rotate(-45deg)
 }

 .btnClose:hover::before,
 .btnClose:hover::after {
 	background-color: var(--theme-color)
 }

 .btnClose:active::before,
 .btnClose:active::after {
 	opacity: .5
 }

 .btnCloseS {
 	z-index: 99;
 	position: absolute;
 	width: 12px;
 	height: 12px;
 	top: 12px;
 	right: 12px;
 	cursor: pointer;
 	opacity: 0;
 	transition: all .25s
 }

 .btnCloseS::before,
 .btnCloseS::after {
 	content: '';
 	position: absolute;
 	height: 1px;
 	width: 100%;
 	top: 50%;
 	left: 0;
 	margin-top: -1px;
 	background-color: #a0a0a0;
 	transition: all .25s
 }

 .btnCloseS::before {
 	transform: rotate(45deg)
 }

 .btnCloseS::after {
 	transform: rotate(-45deg)
 }

 .btnCloseS:hover::before,
 .btnCloseS:hover::after {
 	background-color: #d6002a
 }

 .btnCloseS:active::before,
 .btnCloseS:active::after {
 	background-color: rgba(214, 0, 42, .5)
 }

 .pTitle {
 	position: relative;
 	left: 70px;
 	top: 40px;
 	color: var(--txt-b-pure);
 	font-size: 25px;
 	font-family: microsoft yahei bold, microsoft yahei, Helvetica, sans-serif, 等线
 }

 .pTitle.centerAligned {
 	width: 100%;
 	left: 0;
 	top: 70px;
 	text-align: center
 }

 .pTitleU {
 	z-index: -1;
 	position: absolute;
 	margin-top: -5px;
 	width: 35px;
 	height: 5px;
 	background-color: var(--theme-color)
 }

 .pTitleU.centerAligned {
 	left: 50%;
 	margin-left: -25px
 }

 .pContent {
 	position: relative;
 	left: 70px;
 	top: 60px;
 	width: 460px;
 	scrollbar-color: var(--b-alpha-10) #fff
 }

 .pContent.centerAligned {
 	width: 80%;
 	left: 10%;
 	top: 65px;
 	text-align: center
 }

 #pVersion {
 	font-size: 11px;
 	color: var(--b-alpha-50)
 }

 .pAbout {
 	font-size: 12px;
 	color: var(--b-alpha-80);
 	margin-top: -5px
 }

 #changeLog {
 	border-top: solid 1px rgba(112, 192, 0, .6);
 	margin: 0 5%
 }

 #changeLog>iframe {
 	height: 220px;
 	width: 100%
 }

 .pContent::-webkit-scrollbar-thumb {
 	background-color: var(--b-alpha-10);
 	border-radius: 3px
 }

 .pContent::-webkit-scrollbar-thumb:hover {
 	background-color: var(--b-alpha-20)
 }

 .links1 {
 	text-decoration: none;
 	color: var(--theme-color) !important;
 	cursor: pointer;
 	transition: all .25s
 }

 .links1:link,
 .links1:visted {
 	color: var(--theme-color) !important
 }

 .links1:hover {
 	color: #508c00 !important
 }

 .links1:active {
 	color: #376400 !important
 }

 #btnSettings,
 #btnUser,
 #btnWarn {
 	animation: fadeIn .25s linear;
 	display: none;
 	position: absolute;
 	top: 30px;
 	background-color: transparent;
 	color: rgba(255, 255, 255, .35);
 	font-size: 22px;
 	cursor: pointer;
 	transition: all .25s
 }

 #btnSettings {
 	right: 50px
 }

 #btnUser {
 	right: 90px
 }

 #btnWarn {
 	right: 132px
 }

 #btnWarn i {
 	font-size: 20.5px !important
 }

 #btnSettings:hover {
 	color: rgba(255, 255, 255, .65);
 	transform: rotate(60deg)
 }

 #btnUser:hover,
 #btnWarn:hover {
 	color: rgba(255, 255, 255, .65)
 }

 #btnSettings:active,
 #btnUser:active,
 #btnWarn:active {
 	color: rgba(255, 255, 255, .8)
 }

 #btnLike {
 	animation: fadeIn .25s linear;
 	display: none;
 	position: absolute;
 	right: 50px;
 	bottom: 30px;
 	background-color: transparent;
 	color: rgba(255, 255, 255, .35);
 	font-size: 22px;
 	cursor: pointer;
 	transition: all .25s
 }

 #btnLike:hover {
 	color: rgba(255, 255, 255, .65)
 }

 #btnLike:hover>#numLiked {
 	color: rgba(255, 255, 255, .8)
 }

 #btnLike:active {
 	color: var(--theme-color)
 }

 #btnLike:active>#numLiked {
 	color: #fff
 }

 #numLiked {
 	font-size: small;
 	color: rgba(255, 255, 255, .5);
 	transition: all .25s
 }

 #wallpaperInfo {
 	display: none;
 	opacity: 0;
 	transform: scale(.5);
 	position: absolute;
 	right: 50px;
 	bottom: 65px;
 	padding: 12px 20px;
 	color: var(--txt-b-pure);
 	font-size: 11px;
 	transition: all .25s;
 	background-color: var(--w-alpha-80);
 	border-radius: 5px;
 	box-shadow: rgba(0, 0, 0, .1) 0 3px 10px;
 	transform-origin: 95% 50%;
 	overflow: hidden
 }

 #tp-weather-widget {
 	position: absolute;
 	left: 50px;
 	bottom: 30px;
 	opacity: 0;
 	pointer-events: none;
 	transition: all .25s
 }

 #tp-weather-widget:hover {
 	opacity: 1 !important
 }

 #pinnedBox {
 	display: none;
 	position: absolute;
 	width: 320px;
 	height: auto;
 	perspective-origin: 185px 67.5px;
 	perspective: 500px;
 	transition: all .25s
 }

 .pinnedNote {
 	position: relative;
 	opacity: 0;
 	display: block;
 	top: 40px;
 	left: 60px;
 	width: 250px;
 	height: 55px;
 	margin-bottom: 10px;
 	overflow: hidden;
 	background-color: var(--w-alpha-80);
 	border-radius: 5px;
 	box-shadow: rgba(0, 0, 0, .05) 0 10px 20px;
 	transition: all .25s;
 	transform: scale(.5);
 	cursor: pointer
 }

 .pinnedNote:active {
 	transform: scale(.95) !important
 }

 .pinnedNoteContent {
 	position: absolute;
 	left: 20px;
 	top: 10px;
 	width: 210px;
 	max-height: 20px;
 	overflow: hidden;
 	color: var(--txt-b-pure);
 	font-size: small;
 	font-family: microsoft yahei, sans-serif
 }

 .pinnedNoteTime {
 	position: absolute;
 	left: 20px;
 	bottom: 10px;
 	color: var(--b-alpha-35);
 	font-size: 10px;
 	font-family: microsoft yahei, sans-serif
 }

 #contentBg,
 #contentFeedback {
 	height: 350px;
 	overflow-y: scroll
 }

 .bgPreviewBox {
 	position: relative;
 	display: inline-block;
 	margin-top: 10px;
 	margin-right: 6px;
 	left: 0;
 	width: 135px;
 	height: 90px;
 	background-color: var(--b-alpha-5);
 	border-radius: 6px;
 	overflow: hidden
 }

 .bgPreBoxMask,
 .bgPreBoxInner {
 	position: absolute;
 	width: 100%;
 	height: 100%;
 	background-color: transparent;
 	transition: all .25s;
 	background-position: center;
 	background-size: cover
 }

 .bgPreBoxInner:hover {
 	transform: scale(1.1)
 }

 .bgPreBoxInner:hover>.bgPreBoxMask {
 	background-color: rgba(0, 0, 0, .2)
 }

 .bgPreBoxInner:active>.bgPreBoxMask {
 	background-color: rgba(0, 0, 0, .4)
 }

 .bgPreBoxInner.selected>.bgPreBoxMask,
 .bgPreBoxInner.selected:hover>.bgPreBoxMask,
 .bgPreBoxInner.selected:active>.bgPreBoxMask {
 	background-color: rgba(0, 0, 0, .5)
 }

 .bgPreBoxInner.unset:hover>.bgPreBoxMask,
 .bgPreBoxInner.unset:active>.bgPreBoxMask {
 	background-color: transparent
 }

 .bgPreBoxInner.selected,
 .bgPreBoxInner.selected:hover,
 .bgPreBoxInner.selected:active,
 .bgPreBoxInner.unset:hover {
 	transform: scale(1)
 }

 #bgPreBoxIn1 {
 	background-image: url(https://cdn.jsdelivr.net/gh/MobiusBeta/assets/images/BG_A_Default_1.jpg)
 }

 #bgPreBoxIn2 {
 	background-image: url(https://cdn.jsdelivr.net/gh/MobiusBeta/assets/images/BG_A_Default_2.jpg)
 }

 #bgPreBoxIn3 {
 	background-image: url(https://cdn.jsdelivr.net/gh/MobiusBeta/assets/images/BG_A_Default_3.jpg)
 }

 #bgPreBoxInLive {
 	background-image: url(https://cdn.jsdelivr.net/gh/MobiusBeta/assets/images/BG_A_Live_1.jpg)
 }

 .iconCheck,
 .iconImg {
 	display: none;
 	position: absolute;
 	left: 50%;
 	top: 50%;
 	margin-left: -18px;
 	margin-top: -18px;
 	font-size: 36px !important;
 	color: #fff
 }

 .iconImg {
 	margin-left: -15px;
 	margin-top: -15px;
 	font-size: 30px !important;
 	color: var(--b-alpha-50)
 }

 .bgPreBoxInner.selected>.iconCheck {
 	display: block
 }

 .bgPreBoxInner.unset>.iconImg {
 	display: block
 }

 .pTitleS {
 	position: relative;
 	color: var(--b-alpha-50);
 	margin-top: 10px
 }

 .pTitleS span {
 	position: absolute;
 	float: left;
 	color: var(--txt-b-pure)
 }

 .pTip {
 	position: relative;
 	color: var(--txt-b-tip);
 	margin-top: 10px
 }

 #menuUser,
 #menuSettings,
 #menuCusNav,
 #menuSearch,
 #tipBoxCopyPaste,
 #tipBoxLogin,
 #tipBoxBrowser {
 	display: none;
 	opacity: 0;
 	transform: scale(.5);
 	position: absolute;
 	width: 160px;
 	background-color: var(--bg-w-pure);
 	border-radius: 10px;
 	box-shadow: rgba(0, 0, 0, .1) 0 2px 10px;
 	transition: all .25s;
 	overflow: hidden
 }

 #menuUser,
 #menuSettings,
 #tipBoxLogin,
 #tipBoxBrowser {
 	transform-origin: 95% 10%
 }

 #menuCusNav,
 #menuSearch,
 #tipBoxCopyPaste {
 	transform-origin: 0% 0%
 }

 #tipBoxBrowser {
 	right: 132px;
 	top: 65px;
 	width: 300px !important
 }

 #tipBoxBrowser .pTip {
 	text-align: left !important
 }

 #menuUser,
 #tipBoxLogin {
 	right: 90px;
 	top: 65px
 }

 #menuSettings {
 	right: 50px;
 	top: 65px
 }

 #menuCusNav {
 	width: 140px
 }

 #menuSearch {
 	z-index: 99;
 	background-color: var(--bg-w-pure)
 }

 #tipBoxCopyPaste {
 	width: 380px;
 	height: 180px;
 	font-size: 12px
 }

 #tipBoxCopyPaste .pTitle {
 	top: 20px;
 	left: 30px
 }

 #tipBoxCopyPaste .pTitleS {
 	margin-top: 30px;
 	margin-left: 30px
 }

 .shortcutBox {
 	display: inline-block;
 	position: relative;
 	margin-left: 30px;
 	color: var(--b-alpha-70)
 }

 .shortcutBox p {
 	line-height: 0;
 	font-size: 25px;
 	font-family: microsoft yahei, sans-serif;
 	font-weight: 700;
 	color: var(--b-alpha-50)
 }

 .shortcutBox span {
 	position: absolute;
 	margin-top: -7px
 }

 #offlineMark {
 	position: absolute;
 	top: 20px;
 	right: 0;
 	width: 5px;
 	height: 5px;
 	border-radius: 3px;
 	background-color: #ffa769;
 	transition: all .25s;
 	pointer-events: none
 }

 #tipBoxLogin,
 #tipBoxBrowser {
 	padding: 20px 30px;
 	width: auto;
 	font-size: 12px;
 	text-align: right
 }

 #tipBoxLogin .titleBold {
 	display: inline-block
 }

 #iconOffline {
 	position: relative;
 	top: 2px;
 	right: 5px;
 	color: var(--b-alpha-50);
 	font-size: 20px
 }

 .userMenuItem,
 .searchMenuItem {
 	padding-left: 20px;
 	padding-top: 12px;
 	padding-bottom: 12px;
 	color: var(--txt-b-pure);
 	font-size: 11px;
 	transition: all .25s
 }

 .userMenuItem:hover {
 	background-color: var(--b-alpha-10)
 }

 .userMenuItem:active {
 	background-color: var(--b-alpha-20)
 }

 .searchMenuItem:hover {
 	background-color: var(--b-alpha-10)
 }

 .searchMenuItem:active {
 	background-color: var(--b-alpha-20)
 }

 .searchMenuItem.disabled {
 	color: var(--b-alpha-50);
 	pointer-events: none
 }

 #iconCut,
 #iconCopy,
 #iconPaste,
 #iconDel {
 	position: relative;
 	top: 1px;
 	padding-right: 15px;
 	font-size: 14px
 }

 #menuTextUsername {
 	display: block;
 	font-size: 16px
 }

 #popLogin,
 #popCompleteReg {
 	width: 400px;
 	margin-left: -200px
 }

 #popCompleteReg {
 	z-index: 102
 }

 iframe {
 	border: none
 }

 #frmLogin {
 	position: absolute;
 	width: 100%;
 	height: calc(100% - 30px);
 	top: 30px;
 	border: none
 }

 .bodyLogin {
 	background-image: none !important;
 	background-color: var(--bg-w-pure) !important
 }

 #pTitleLogin {
 	margin-top: 5px
 }

 #pTitleCompleteReg {
 	margin-top: 20px
 }

 #loginTip,
 #loginTip2,
 .loginTip3,
 #welcomeTip {
 	position: relative;
 	width: 100%;
 	text-align: center;
 	font-size: small;
 	transition: all .25s
 }

 #loginTip {
 	margin-top: 100px;
 	color: var(--b-alpha-80)
 }

 #loginTip2 {
 	font-size: 10px;
 	color: var(--b-alpha-50)
 }

 .loginTip3 {
 	font-size: 11px;
 	color: var(--b-alpha-50)
 }

 #welcomeTip {
 	margin-top: 80px;
 	color: var(--txt-b-pure);
 	font-size: 11px
 }

 .inputLogin {
 	position: absolute;
 	left: 50%;
 	margin-left: -150px;
 	width: 300px;
 	height: 30px;
 	text-align: center
 }

 #inputEmail {
 	margin-top: 35px
 }

 #inputPsw {
 	margin-top: 80px
 }

 #inputBirthday {
 	font-family: microsoft yahei light
 }

 .btnLogin {
 	position: absolute;
 	top: 315px;
 	left: 50%;
 	width: 145px;
 	height: 32px;
 	font-size: small;
 	border-radius: 20px;
 	border: none;
 	outline: none;
 	color: #fff;
 	background-color: var(--theme-color);
 	transition: all .25s;
 	cursor: pointer
 }

 #btnLogin {
 	margin-left: -150px
 }

 #btnReg {
 	margin-left: 5px;
 	color: var(--theme-color);
 	background-color: transparent;
 	border: 1px solid var(--theme-color)
 }

 #btnReg:hover {
 	color: #fff;
 	background-color: #61a600;
 	border-color: transparent
 }

 #btnReg:active {
 	background-color: #528c00
 }

 #btnCompleteReg {
 	margin-top: 45px;
 	margin-left: -72.5px
 }

 #greetingBox {
 	display: none;
 	position: absolute;
 	top: 50px;
 	left: calc(50% - 200px);
 	width: 400px;
 	text-align: center
 }

 #greeting {
 	position: relative;
 	top: -100px;
 	opacity: 0;
 	padding: 15px 50px;
 	border-radius: 30px;
 	background-color: var(--bg-w-pure);
 	color: var(--txt-b-pure);
 	font-size: small;
 	transition: all .5s;
 	box-shadow: rgba(0, 0, 0, .05) 0 10px 20px
 }

 #wip {
 	display: none;
 	position: fixed;
 	width: 100%;
 	height: 100%;
 	left: 0;
 	top: 0;
 	background-color: #333
 }

 .wipTip {
 	position: relative;
 	width: 100%;
 	text-align: center;
 	color: #fff;
 	font-family: pingfang sc
 }

 #welcomeTip {
 	margin-bottom: 30px
 }

 .updateListBox {
 	position: relative;
 	margin-top: 15px;
 	width: 60%;
 	left: calc(20% - 23px)
 }

 .updateListIcon {
 	position: absolute;
 	float: left;
 	top: calc(50% - 15px)
 }

 .iconUpdateList {
 	color: var(--theme-color);
 	font-size: 30px
 }

 .updateListTitle {
 	position: relative;
 	margin-left: 46px;
 	color: var(--txt-b-pure);
 	font-weight: 700
 }

 .updateListDetail {
 	position: relative;
 	left: 46px;
 	top: 3px;
 	font-size: 12px;
 	color: var(--b-alpha-60)
 }

 .btnRectangle {
 	position: relative;
 	top: 35px;
 	left: 25%;
 	width: 50%;
 	height: 35px;
 	border: none;
 	outline: none;
 	border-radius: 5px;
 	background-color: var(--theme-color);
 	color: #fff;
 	font-size: small;
 	transition: all .25s;
 	font-family: microsoft yahei light;
 	cursor: pointer
 }

 #contentDonate {
 	width: 80%
 }

 .imgQRC {
 	position: absolute;
 	width: 45%;
 	height: auto
 }

 #imgWC {
 	left: 50%
 }

 .btnRectangle2 {
 	display: inline-block;
 	position: relative;
 	top: 40px;
 	padding: 10px 30px;
 	margin-right: 10px;
 	border: solid 1px var(--b-alpha-10);
 	border-radius: 5px;
 	transition: all .25s;
 	cursor: pointer
 }

 .btnRectangle2:hover {
 	background-color: var(--b-alpha-5)
 }

 .btnRectangle2:active {
 	background-color: var(--b-alpha-10)
 }

 .inputEditUserInfo {
 	display: none;
 	position: absolute;
 	width: 130px;
 	outline: none;
 	border: none;
 	border-bottom: solid 1px var(--b-alpha-20);
 	color: var(--txt-b-pure);
 	background-color: #f2f2f2;
 	transition: all .25s
 }

 .inputEditUserInfo:hover {
 	border-bottom: solid 1px var(--b-alpha-40)
 }

 .inputEditUserInfo:focus {
 	border-bottom: solid 1px var(--theme-color)
 }

 .iconEdit {
 	position: absolute;
 	margin-left: 150px;
 	font-size: small;
 	transition: all .25s;
 	cursor: pointer
 }

 .iconEdit:hover {
 	color: var(--theme-color)
 }

 .iconEdit:active {
 	opacity: .6
 }

 .btnUpdateUserInfo {
 	display: none;
 	margin-left: 150px
 }

 #contentGSet {
 	width: calc(100% - 140px);
 	top: 65px !important
 }

 .switch {
 	position: absolute;
 	top: 0;
 	right: 0;
 	display: block;
 	width: 60px;
 	height: 34px;
 	transform: scale(.6)
 }

 .switch input {
 	display: none
 }

 .slider {
 	position: absolute;
 	cursor: pointer;
 	top: 0;
 	left: 0;
 	right: 0;
 	bottom: 0;
 	border-radius: 34px;
 	background-color: #ccc;
 	-webkit-transition: .25s;
 	transition: .25s
 }

 .slider:before {
 	position: absolute;
 	content: "";
 	height: 26px;
 	width: 26px;
 	left: 4px;
 	bottom: 4px;
 	border-radius: 50%;
 	background-color: #fff;
 	-webkit-transition: .25s;
 	transition: .25s
 }

 input:active+.slider {
 	background-color: #bbb
 }

 input:checked+.slider {
 	background-color: var(--theme-color)
 }

 input:checked:active+.slider {
 	background-color: #61a600
 }

 input:checked+.slider:before {
 	transform: translateX(26px)
 }

 .setOptBox {
 	position: relative;
 	padding-bottom: 30px
 }

 .setOptCaption {
 	position: relative;
 	top: 8px;
 	color: var(--txt-b-pure);
 	font-size: small
 }

 .setOptComment {
 	position: relative;
 	display: block;
 	top: 10px;
 	color: var(--b-alpha-50);
 	font-size: 11px
 }

 .contentBlock {
 	display: inline-block;
 	position: relative;
 	vertical-align: top;
 	margin-right: 5px;
 	margin-bottom: 10px;
 	border-radius: 10px;
 	background-color: var(--b-alpha-5)
 }

 #cBlockAccInfo {
 	width: 275px;
 	padding-top: 10px;
 	padding-left: 30px;
 	padding-bottom: 20px
 }

 #cBlockAdvAcc {
 	width: 170px;
 	height: 142px;
 	padding-top: 20px;
 	padding-left: 20px;
 	padding-right: 10px
 }

 .titleBold {
 	color: var(--txt-b-pure);
 	font-family: microsoft yahei, sans-serif;
 	font-size: 15px;
 	font-weight: 700
 }

 .topNotificationBar {
 	display: none;
 	position: absolute;
 	top: -50px;
 	left: 0;
 	width: 100%;
 	height: 50px;
 	color: #fff;
 	transition: all .25s
 }

 .topNotificationBar.class0 {
 	background-color: #ff173e
 }

 .topNotificationBar.class1 {
 	background-color: #1681c7
 }

 .topNotificationBar.class2 {
 	background-color: transparent;
 	-webkit-backdrop-filter: blur(30px);
 	backdrop-filter: blur(30px)
 }

 #marqueeBar {
 	position: absolute;
 	top: calc(50% - 10px);
 	left: 0;
 	width: calc(100% - 50px);
 	font-size: 14px
 }

 #marqueeTitle {
 	font-family: microsoft yahei, sans-serif;
 	font-weight: 700
 }

 #btnClosetopNBar {
 	opacity: 1;
 	top: calc(50% - 5px);
 	right: 19px
 }

 #btnClosetopNBar::before,
 #btnClosetopNBar::after {
 	background-color: rgba(255, 255, 255, .6)
 }

 #btnClosetopNBar:hover::before,
 #btnClosetopNBar:hover::after {
 	background-color: #fff
 }

 #btnClosetopNBar:active::before,
 #btnClosetopNBar:active::after {
 	background-color: rgba(255, 255, 255, .5)
 }

 .bgCusBoxR {
 	position: absolute;
 	display: inline-block;
 	margin-left: 20px;
 	margin-top: 8px
 }

 .bgCusBoxR .pTitleS {
 	line-height: 8px
 }

 #btnBrowse {
 	position: unset
 }

 #contentFeedback p {
 	margin-top: 0
 }

 .feedbackItem {
 	position: relative;
 	top: 5px;
 	margin-top: 15px
 }

 .feedbackItem div {
 	margin-top: 7px;
 	color: var(--b-alpha-70)
 }

 input[type=file] {
 	display: none
 }

 @media screen and (max-width:600px) {

 	.bgbox,
 	body {
 		background-size: auto
 	}

 	h1 {
 		font-size: 27px
 	}

 	.input {
 		top: 170px;
 		font-size: small;
 		padding: 9px 15px;
 		width: 180px;
 		left: calc(50% - 90px)
 	}

 	.input.focus {
 		left: 10%;
 		top: 100px;
 		width: 80%
 	}

 	h1::after {
 		width: 80%;
 		bottom: 15px;
 		left: 10%
 	}

 	#searchOptBox {
 		top: 110px
 	}

 	.keyword {
 		top: 200px;
 		margin-left: -43.3%;
 		width: 86%
 	}

 	.keyword div {
 		font-size: small;
 		width: 100%
 	}

 	.navbox0 {
 		width: 100%;
 		left: 0;
 		margin-left: 0;
 		margin-top: 170px
 	}

 	table {
 		left: calc(50% - 175px);
 		position: absolute
 	}

 	.nav_links {
 		margin: 0;
 		margin-top: 0;
 		padding-left: 14px;
 		padding-right: 14px;
 		font-size: .7em
 	}

 	.quotebox {
 		top: 550px;
 		font-size: .7em;
 		width: 80%;
 		left: 50%;
 		margin-left: -40%
 	}

 	#navboxCustom {
 		left: 5%;
 		margin-left: 0;
 		width: 90%
 	}

 	.customNav {
 		width: 20%
 	}

 	#textNote {
 		left: 5%;
 		width: 90%
 	}

 	#btnUser {
 		right: 60px;
 		top: 10px
 	}

 	#btnSettings {
 		right: 20px;
 		top: 10px
 	}

 	#menuUser {
 		right: 60px;
 		top: 45px
 	}

 	#menuSettings {
 		right: 20px;
 		top: 45px
 	}

 	.popUp {
 		width: 90%;
 		margin-left: -45%
 	}

 	.btnClose {
 		top: 30px;
 		right: 30px
 	}

 	.pTitle,
 	.pContent {
 		left: 10%;
 		width: 80%
 	}

 	#btnLike {
 		z-index: 98;
 		right: 20px;
 		bottom: 10px
 	}

 	#contentGSet {
 		width: 80%
 	}

 	#bgPreBoxLive,
 	#bgTitleDynamic {
 		display: none
 	}

 	#popWelcome {
 		overflow-y: scroll
 	}

 	.btnRectangle {
 		margin-bottom: 100px
 	}

 	.contentBlock {
 		width: 100% !important
 	}

 	#marqueeBar {
 		top: calc(50% - 7.6px);
 		font-size: 11px
 	}

 	#tp-weather-widget {
 		bottom: auto;
 		left: 20px;
 		top: 10px
 	}

 	.bgCusBoxR .pTitleS {
 		display: none
 	}

 	#btnBrowse {
 		margin-top: 15px
 	}

 	.footer {
 		font-size: .7em
 	}

 	#pinnedBox {
 		display: none !important
 	}
 }

 @media screen and (min-width:600px) and (max-width:900px) {

 	.bgbox,
 	body {
 		background-size: auto;
 		background-position: center;
 		background-attachment: fixed
 	}

 	.quotebox {
 		font-size: small;
 		margin-top: -15%
 	}

 	#navboxCustom {
 		margin-left: -250px;
 		width: 500px
 	}

 	.customNav {
 		width: 20%
 	}
 }

 @media screen and (max-width:1300px) {
 	#pinnedBox {
 		overflow-y: auto;
 		height: 200px;
 		-webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 95%);
 		mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 95%);
 		-webkit-mask-size: 100%;
 		mask-size: 100%;
 		-webkit-mask-repeat: no-repeat;
 		mask-repeat: no-repeat;
 		-webkit-mask-position: left top, right bottom;
 		mask-position: left top, right bottom
 	}

 	.pinnedNote:last-child {
 		margin-bottom: 35px
 	}

 	#pinnedBox::-webkit-scrollbar-thumb {
 		background-color: var(--w-alpha-10);
 		border-radius: 3px
 	}

 	#pinnedBox::-webkit-scrollbar-thumb:hover {
 		background-color: var(--w-alpha-30)
 	}
 }

 @media screen and (max-width:1370px) {
 	.navboxSwitch {
 		top: auto;
 		bottom: 100px
 	}
 }

 @media screen and (max-height:600px) {
 	#navboxCustom {
 		bottom: 110px
 	}
 }

 @media screen and (max-height:550px) {

 	.quotebox,
 	#navboxCustom {
 		display: none
 	}
 }

 @supports(-webkit-backdrop-filter:blur(10px)) or (backdrop-filter:blur(10px)) {
 	#menuSearch {
 		background-color: var(--w-alpha-60);
 		-webkit-backdrop-filter: blur(10px);
 		backdrop-filter: blur(10px)
 	}

 	.quote-bg {
 		-webkit-backdrop-filter: blur(30px);
 		backdrop-filter: blur(30px);
 		background-image: none !important
 	}

 	.quotebox:hover {
 		color: rgba(255, 255, 255, .9)
 	}

 	.quotebox:hover .quote-content {
 		color: rgba(255, 255, 255, .9)
 	}

 	.quotebox:hover .quote-author {
 		color: rgba(255, 255, 255, .9)
 	}

 	.searchMenuItem:hover {
 		background-color: rgba(255, 255, 255, .25)
 	}

 	.searchMenuItem:active {
 		background-color: rgba(255, 255, 255, .5)
 	}
 }
